body {
  font-family: 'Raleway', sans-serif; }

header {
  top: 0;
  z-index: 9999;
  background-color: #F7F7F7; }
  header img {
    height: 44px; }
  header .header-top {
    background-color: #f4c400; }
    header .header-top a {
      color: #fff;
      margin-left: 10px; }
  header .form-control:focus {
    border-color: #f4c400;
    box-shadow: 0 0 0 -0.8rem #f4c400; }
  header .navbar-light .navbar-nav .nav-link {
    color: black;
    margin-left: 10px;
    font-size: 1.3em; }
    @media (max-width: 992px) {
      header .navbar-light .navbar-nav .nav-link {
        width: 12%; } }
    @media (max-width: 900px) {
      header .navbar-light .navbar-nav .nav-link {
        width: 12%; } }
    @media (max-width: 600px) {
      header .navbar-light .navbar-nav .nav-link {
        width: 18%; } }
    header .navbar-light .navbar-nav .nav-link::after {
      content: "";
      background-color: #f4c400;
      width: 0%;
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      transition: width 0.5s; }
    header .navbar-light .navbar-nav .nav-link:hover {
      color: #f4c400; }
    header .navbar-light .navbar-nav .nav-link:hover::after {
      width: 100%; }
    header .navbar-light .navbar-nav .nav-link.active {
      color: #f4c400; }
      header .navbar-light .navbar-nav .nav-link.active::after {
        width: 100%; }
  header i.fa.fa-search {
    right: 3%;
    color: #c7c7c7; }

.Our-slide {
  margin-top: 90px; }
  @media (max-width: 600px) {
    .Our-slide .carousel-indicators {
      display: none; } }
  @media (max-width: 900px) {
    .Our-slide .carousel-indicators {
      display: none; } }
  .Our-slide .carousel-control-prev,
  .Our-slide .carousel-control-next {
    z-index: 3; }
  .Our-slide .content-slider {
    height: 500px;
    overflow: hidden; }
    @media (max-width: 600px) {
      .Our-slide .content-slider {
        height: 275px; } }
  .Our-slide .carousel-caption {
    top: 20%; }
    .Our-slide .carousel-caption h1 {
      color: #f4c400; }
      @media (max-width: 600px) {
        .Our-slide .carousel-caption h1 {
          font-size: 1.5rem; } }
    @media (max-width: 600px) {
      .Our-slide .carousel-caption h2 {
        font-size: 1rem; } }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #333333ab; }

.footer {
  background-color: #f4c400;
  color: #fff;
  padding: 10px; }
  .footer a {
    color: #fff; }

.content-about {
  top: -45px;
  background-color: #f7F7F7;
  border-radius: 5px; }
  @media (max-width: 900px) {
    .content-about {
      top: -130px; } }
  @media (max-width: 600px) {
    .content-about {
      top: -60px; } }
  @media (max-width: 600px) {
    .content-about {
      flex-direction: column-reverse; } }
  @media (max-width: 900px) {
    .content-about {
      flex-direction: column-reverse; } }
  @media (max-width: 992px) {
    .content-about {
      flex-direction: column-reverse; } }
  .content-about img {
    margin-bottom: 15px; }

hr {
  position: relative;
  text-align: center; }

hr:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 5px;
  background: #f4c400;
  left: 50%;
  border-radius: 5px;
  transform: translate(-24px, -3px); }

.our-services {
  background-color: #f7F7F7;
  margin-top: 7%;
  margin-bottom: 7%;
  padding-top: 5%;
  padding-bottom: 5%; }
  .our-services .serve {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px; }
  .our-services i {
    color: #f4c400;
    line-height: 2em; }

.section-titel {
  margin-bottom: 60px; }

.Objectife {
  background: #eee;
  padding: 15px;
  margin-bottom: 36px;
  margin-top: 36px; }

.counter {
  background-color: #f4c400;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px; }
  .counter img {
    border: 4px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #FFF;
    margin-bottom: 20px; }

.team {
  position: relative;
  overflow: hidden;
  padding: 20px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 20px; }
  .team .overlay {
    z-index: -1; }
  .team .taem-item {
    padding: 20px 0px; }
    .team .taem-item img {
      width: 120px;
      height: 120px;
      border: 4px solid;
      border-radius: 50%; }
    .team .taem-item a {
      background-color: #fff;
      border-radius: 25px;
      width: 70px;
      height: 70px;
      padding: 10px;
      color: #f4c400;
      cursor: pointer; }
  .team .team-next, .team .team-prev {
    position: absolute;
    z-index: 3;
    width: 29px;
    height: 32px;
    top: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #f4c400; }
    .team .team-next i, .team .team-prev i {
      padding-top: 7px;
      cursor: pointer;
      color: #FFF; }
  .team .team-prev {
    right: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

/*# sourceMappingURL=style.css.map */
