@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

header {
  top: 0;
  z-index: 9999;
  background-color: rgba(51, 51, 51, 0); }
  header img {
    height: 61px; }
  header .navbar {
    height: 126px; }
    @media (max-width: 600px) {
      header .navbar {
        height: auto;
        background-color: #F7F7F7; } }
    @media (max-width: 900px) {
      header .navbar {
        height: auto;
        background-color: #F7F7F7; } }
  @media (max-width: 600px) {
    header {
      background-color: #F7F7F7; } }
  header .header-top {
    background-color: #f4c400;
    padding: 9px; }
    header .header-top a {
      color: #fff;
      margin-left: 10px; }
  header .form-control:focus {
    border-color: #f4c400;
    box-shadow: 0 0 0 -0.8rem #f4c400; }
  header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 10px;
    font-size: 1.3em; }
    header .navbar-light .navbar-nav .nav-link span {
      margin-left: 6px; }
      @media (max-width: 600px) {
        header .navbar-light .navbar-nav .nav-link span {
          display: none; } }
      @media (max-width: 900px) {
        header .navbar-light .navbar-nav .nav-link span {
          display: none; } }
      @media (max-width: 1040px) {
        header .navbar-light .navbar-nav .nav-link span {
          display: none; } }
    @media (max-width: 1040px) {
      header .navbar-light .navbar-nav .nav-link {
        width: 80%; } }
    @media (max-width: 900px) {
      header .navbar-light .navbar-nav .nav-link {
        width: 12%;
        color: #000 !important; } }
    @media (max-width: 600px) {
      header .navbar-light .navbar-nav .nav-link {
        width: 18%;
        color: #000 !important; } }
    header .navbar-light .navbar-nav .nav-link::after {
      content: "";
      background-color: #f4c400;
      width: 0%;
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      transition: width 0.5s; }
    header .navbar-light .navbar-nav .nav-link:hover {
      color: #f4c400; }
    header .navbar-light .navbar-nav .nav-link:hover::after {
      width: 90%; }
    header .navbar-light .navbar-nav .nav-link.active {
      color: #f4c400 !important; }
      header .navbar-light .navbar-nav .nav-link.active::after {
        width: 90%; }
  header i.fa.fa-search {
    right: 3%;
    color: #c7c7c7; }

.Our-slide p {
  font-size: 2rem;
  text-align: center;
  color: #dadada;
  width: 100%;
  overflow: hidden;
  animation: tapper 1.5s steps(32), blink 0.5s infinite;
  font-style: italic; }
  @media (max-width: 900px) {
    .Our-slide p {
      font-size: 11px; } }
  @media (max-width: 600px) {
    .Our-slide p {
      font-size: 19px; } }
@media (max-width: 600px) {
  .Our-slide .carousel-indicators {
    display: none; } }
@media (max-width: 900px) {
  .Our-slide .carousel-indicators {
    display: none; } }
.Our-slide .carousel-control-prev,
.Our-slide .carousel-control-next {
  z-index: 3; }
.Our-slide .content-slider {
  height: 100vh;
  overflow: hidden; }
  .Our-slide .content-slider .carousel-item {
    height: 100%; }
    .Our-slide .content-slider .carousel-item img {
      height: 100%; }
  @media (max-width: 600px) {
    .Our-slide .content-slider {
      height: 70vh; } }
.Our-slide .carousel-caption {
  top: 40%; }
  .Our-slide .carousel-caption h1 {
    color: #f4c400; }
    @media (max-width: 600px) {
      .Our-slide .carousel-caption h1 {
        font-size: 1.5rem; } }
  .Our-slide .carousel-caption h2 {
    color: #CE9B42; }
    @media (max-width: 600px) {
      .Our-slide .carousel-caption h2 {
        font-size: 1rem; } }

hr {
  margin-bottom: 4rem; }

hr:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 5px;
  background: #f4c400;
  left: 50%;
  border-radius: 5px;
  transform: translate(-24px, -3px); }

@keyframes tapper {
  from {
    width: 0ch; } }
@keyframes blink {
  50% {
    border-color: transparent; } }
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #0f0f0fc7; }

footer {
  background-color: #f7f7f7;
  padding: 20px 0px;
  border-top: 2px solid #f4c400; }
  footer hr:after {
    left: 48%; }
  footer .footer-left {
    padding: 30px; }
    footer .footer-left img {
      width: 200px;
      margin-bottom: 20px; }
  footer .footer-center {
    padding: 30px; }
    footer .footer-center a {
      color: #050303; }
      footer .footer-center a:hover {
        color: #CE9B42; }
  footer .footer-right {
    padding: 30px; }
    footer .footer-right a {
      margin-top: 40px;
      position: relative; }
      footer .footer-right a i {
        position: relative; }
        footer .footer-right a i::after {
          content: "";
          width: 260px;
          height: 3px;
          border-radius: 5px;
          background-color: #f4c400;
          bottom: -19px;
          left: 0;
          position: absolute; }
  footer .copyright {
    background-color: #f4c400;
    color: #fff;
    padding: 10px; }

.contact {
  margin: 70px auto; }
  .contact .contacthR::after {
    left: auto; }
  .contact legend {
    max-width: 100%; }
  .contact .contact-description hr {
    margin-top: 12px; }
    .contact .contact-description hr::after {
      left: 7%; }
  .contact hr {
    margin-bottom: 20px;
    margin-top: 5px; }
  .contact input,
  .contact textarea,
  .contact select {
    margin-bottom: 10px;
    border-color: #f4c400; }
  .contact input[type=submit] {
    width: 100%;
    background: #f4c400a6;
    color: #fff; }
    .contact input[type=submit]:focus, .contact input[type=submit]:hover {
      border-color: #fff;
      box-shadow: none;
      background: #f4c400; }
  .contact input {
    padding-left: 32px; }
  .contact .form-control:focus {
    border-color: #f4c400;
    box-shadow: 0 0 0 1px #f4c400; }
  .contact .asterisx {
    top: 0;
    color: #CE9B42;
    font-size: 25px;
    right: 3px;
    z-index: 3; }
  .contact .custom-alert {
    padding: 5px 10px;
    display: none; }
  .contact .send-icon {
    color: #fff; }
  .contact i {
    height: 0;
    float: left;
    top: 11px;
    left: 10px;
    color: #91979d; }

.all-items-about .our-services, .all-items-about .valeur {
  background-color: #f7f7f7;
  margin-top: -6%;
  margin-bottom: 14%;
  padding: 30px 20px;
  position: relative;
  border-radius: 9px; }
  .all-items-about .our-services .Myaccordin .btn-link, .all-items-about .valeur .Myaccordin .btn-link {
    color: #f4c400; }
    .all-items-about .our-services .Myaccordin .btn-link:hover, .all-items-about .valeur .Myaccordin .btn-link:hover {
      color: #f4c400;
      text-decoration: underline; }
    .all-items-about .our-services .Myaccordin .btn-link:focus, .all-items-about .valeur .Myaccordin .btn-link:focus {
      box-shadow: 0 0 0 0rem #f4c400; }
  .all-items-about .our-services .Myaccordin li, .all-items-about .valeur .Myaccordin li {
    line-height: 3em; }
  .all-items-about .our-services .images, .all-items-about .valeur .images {
    overflow: hidden;
    margin-bottom: 51px; }
  .all-items-about .our-services .notre-valeur, .all-items-about .valeur .notre-valeur {
    margin-bottom: 30px; }
  .all-items-about .our-services .notre-metadologie, .all-items-about .valeur .notre-metadologie {
    margin-bottom: 30px; }
  .all-items-about .our-services .serve, .all-items-about .valeur .serve {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 100%; }
  .all-items-about .our-services i, .all-items-about .valeur i {
    color: #f4c400;
    line-height: 2em; }
.all-items-about .valeur {
  background-color: #fff; }
  .all-items-about .valeur .serve {
    background-color: #f7f7f7;
    height: 100%; }
.all-items-about .section-titel {
  margin-bottom: 60px; }
.all-items-about .counter {
  background-color: #f4c400;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px; }
  .all-items-about .counter img {
    border: 4px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #fff;
    margin-bottom: 20px; }
.all-items-about .team {
  overflow: hidden;
  margin-top: 14%;
  margin-bottom: 14%; }
  .all-items-about .team span {
    top: 35%;
    font-size: 60px;
    font-weight: bold;
    color: #f4c400;
    cursor: pointer;
    user-select: none;
    left: .5%;
    z-index: 1; }
    .all-items-about .team span:hover {
      color: #CE9B42; }
  .all-items-about .team span:nth-of-type(2) {
    left: 98%; }
    @media (max-width: 900px) {
      .all-items-about .team span:nth-of-type(2) {
        left: 96%; } }
    @media (max-width: 600px) {
      .all-items-about .team span:nth-of-type(2) {
        left: 95%; } }
  .all-items-about .team .taem-item {
    padding: 20px 0px;
    background-color: #F7F7F7;
    left: 0;
    transition: .5s;
    margin-right: 15px;
    border-radius: 15px;
    cursor: pointer; }
    .all-items-about .team .taem-item .POPUP {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(51, 51, 51, 0.829);
      z-index: 9999;
      color: #fff; }
      .all-items-about .team .taem-item .POPUP .biography {
        background-color: #f7f7f7;
        padding: 30px;
        width: 73%;
        margin: 100px auto 32px;
        color: #333;
        height: 79%; }
        .all-items-about .team .taem-item .POPUP .biography b {
          color: #f4c400; }
      .all-items-about .team .taem-item .POPUP .closePopUP {
        position: absolute;
        right: -2%;
        top: -6%;
        background: #CE9B42;
        padding: 1px 12px;
        font-weight: bold;
        font-size: 2em;
        border-radius: 27%;
        float: right;
        color: #fff; }
    .all-items-about .team .taem-item img {
      width: 120px;
      height: 120px;
      border: 4px solid;
      border-radius: 50%; }

footer .link-social-media, .all-items-about .team .taem-item a {
  background-color: #fff;
  border-radius: 25px;
  width: 37px;
  height: 37px;
  padding: 10px;
  color: #f4c400;
  transition: .5s;
  cursor: pointer; }
  footer .link-social-media:hover, .all-items-about .team .taem-item a:hover {
    opacity: .7; }

/*# sourceMappingURL=style.css.map */
