body{
    font-family: 'Raleway', sans-serif;
}
header{
    top: 0;
    img{
        height: 44px;
    }
    z-index: 9999;
    background-color:$thirdColor;
    .header-top{
        background-color: $maincolor;
        a{
            color: #fff;
            margin-left: $padmarg;
        }
    }
    .form-control:focus {
        border-color: $maincolor;
        box-shadow: 0 0 0 -0.8rem $maincolor;
    }
    .navbar-light .navbar-nav .nav-link {
        color: rgb(0, 0 ,0);
        margin-left: 10px;
        font-size: 1.3em;
        @include large-devices {
            width: 12%;
        }
        @include tablet{
            width: 12%;
        }
        @include Mobile{
            width: 18%;
        }
        &::after{
            content: "";
            background-color: $maincolor;
            width: 0%;
            position: absolute;
            height: 2px;
            left: 0;
            bottom: 0;
            transition:width .5s ;
        }
        &:hover{
            color: $maincolor;
        }
        &:hover::after{
            width: $widthei;
        }
        &.active{
            color: $maincolor;
            &::after{
                width: $widthei;
            }
        }
    }
    i.fa.fa-search {
        right: 3%;
        color: #c7c7c7;
    }
}
.Our-slide{
    margin-top: 90px;
    .carousel-indicators{
        @include Mobile{
            display: none;
        }
        @include tablet{
            display: none;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 3;
    }
    .content-slider {
        height: 500px;
        overflow: hidden;
        @include Mobile{
            height: 275px;
        }
    }
    .carousel-caption{
        top: 20%;
        h1{
            color: $maincolor;
            @include Mobile{
                font-size: 1.5rem;
            }
        }
        h2{
            @include Mobile{
                font-size: 1rem;
            }
        }
    }
    
    
}



