%side {
    font-size: 18px;
    line-height: 25px;
    background: $maincolor;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px;
}
%sidebar {
    border: 1px solid #eeeeee;
    background: #f1f1f12e;
    padding: 30px;
}

.blog {
    display: flex;
    justify-content: space-between;
    .aside {
        height: max-content;
        width: 25%;
        margin: 1% auto;
        .sidtop{
            @extend %sidebar;
        
        .Categorie {
           @extend %side; 
        }
        .Categorie-child {
            padding: 0;
            list-style: none;
            .Categorie-child-list {
                margin-bottom: 3%;
                .Categorie-child-list-link {
                    display: flex;
                    justify-content: space-between;
                    color: black;
                    text-decoration: none;
                    border-bottom: 2px dotted #eee;
                    &:hover{
                    color: $maincolor;
                    border-bottom: 1px dashed $maincolor;
                    }
                }
            }
        }
    }
        .sidbutom{
            @extend %sidebar;
            margin-top: 5%;
            .newsletter {
                @extend %side; 
             }
             p {
                text-align: center;
                font-size: 11px;
                font-weight: 500;
            }
            .newsletter-form {
                font-size: 12px;
                line-height: 35px;
                color: #cccccc;
                border: 1px solid #eeeeee;
                min-width: 40%;
                border-radius: 0px;
            }
            .newsletter-btn{
                background: #000;
                color: #fff;
                font-size: 12px;
                line-height: 30px;
                font-weight: 500;
                padding: 0px 24px;
                &:hover{
                    text-decoration: none;
                    background: $maincolor;
                }
            }
        }

}
    .content {
        width: 65%;
    margin-top: 1%;
    margin-left: 3%;
        article {
            width: 100%;
            height: max-content;
            background-color: #ffffff;
            box-shadow: 0 10px 40px -10px #00408033;
            margin-bottom: 3%;
            padding-bottom: 2%;
            .content-img{
                width: 100%;
            }
            .content-time{
                height: max-content;
                width: max-content;
                padding: 10px 30px;
                font-size: 20px;
                background-color: #f4c400;
                color: #fff;
                margin-left: 3%;
                font-weight: 900;
                border-radius: 5px;
                position: absolute;
                margin-top: -60px;
                span {
                    display: block;
                }
            }
            .content-title{
                margin: 3% 5%;
                padding-top: 20px;
            }
            .content-paragraphe{
                line-height: 1.8;
                margin: 0 5%;
            }
            .content-button {
                margin: 0 4%;
                display: flex;
                justify-content: space-between;
                .content-btn-heart {
                    color: #999999;
                    border: none;
                    background-color: #fff;
                    margin-top: 3%;
                    &:hover{
                        color: $maincolor;
                    }
                    .like-counter{
                        display: inline-block;
                    }
                }
                .content-button-more{
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                    border: 2px solid #000;
                    font-weight: 900;
                    &:hover {
                        color: #fff;
                        border: 2px solid $maincolor;
                        background-color: $maincolor;
                    }
                }
            }
        }
        .page-link {
            color: $maincolor;
        }
    }

}
@media screen and (max-width:990px){
    .blog {
        display: block;
        .content {
            width: 90%;
            margin-left: 5%;
        }
        .aside {
            width: 90%;
        }
    
    }
}