.h-title{
    color: $maincolor;
    text-align: center;
    font-weight: bold;
    .h-span{
        color: black;
        font-size: 3rem;
    }
}
.h-paragraphe{
    color: $thirdColor;
    width: 40%;
text-align: left;




}